
bin/Debug/net6.0/Ideal.deps.json
bin/Debug/net6.0/Ideal.dll
bin/Debug/net6.0/Ideal.pdb
obj/Debug/net6.0/Ideal.AssemblyInfo.cs
obj/Debug/net6.0/Ideal.assets.cache
obj/Debug/net6.0/Ideal.csproj.AssemblyReference.cache
obj/Debug/net6.0/Ideal.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Ideal.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Ideal.dll
obj/Debug/net6.0/Ideal.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Ideal.pdb
bin/Debug/net6.0/Ideal.deps.json
bin/Debug/net6.0/Ideal.dll
bin/Debug/net6.0/Ideal.pdb
obj/Debug/net6.0/Ideal.AssemblyInfo.cs
obj/Debug/net6.0/Ideal.assets.cache
obj/Debug/net6.0/Ideal.csproj.AssemblyReference.cache
obj/Debug/net6.0/Ideal.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Ideal.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Ideal.dll
obj/Debug/net6.0/Ideal.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Ideal.pdb
obj/Ideal.csproj.nuget.dgspec.json
obj/Ideal.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
.vs/Ideal/DesignTimeBuild/.dtbcache.v2
.vs/Ideal/FileContentIndex/c885f857-f91a-4fa3-a23a-d87616ba8f08.vsidx
.vs/Ideal/FileContentIndex/ea54d11a-78da-497a-9742-e5fd1e420d9a.vsidx
.vs/Ideal/FileContentIndex/read.lock
.vs/Ideal/v17/.suo
bin/Debug/net6.0/Ideal.deps.json
bin/Debug/net6.0/Ideal.dll
bin/Debug/net6.0/Ideal.pdb
obj/Debug/net6.0/Ideal.AssemblyInfo.cs
obj/Debug/net6.0/Ideal.assets.cache
obj/Debug/net6.0/Ideal.csproj.AssemblyReference.cache
obj/Debug/net6.0/Ideal.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Ideal.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Ideal.dll
obj/Debug/net6.0/Ideal.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Ideal.pdb
obj/Ideal.csproj.nuget.dgspec.json
obj/Ideal.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
.vs/Ideal/v17/.futdcache.v2
.vs/ProjectEvaluation/ideal.metadata.v7.bin
.vs/ProjectEvaluation/ideal.projects.v7.bin
